@model TurnipExchange.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Your sale</h5>
                <div class="card-body">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (Model.MyOffer == null)
                        {
                            <p>No sale</p>
                            <a asp-action="Create" asp-controller="Offer" class="btn btn-success">Create one!</a>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label font-weight-bold">Bells per turnip</label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control-plaintext" asp-for="MyOffer.Price">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label font-weight-bold">Dodo Code</label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control-plaintext" asp-for="MyOffer.DodoCode">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label font-weight-bold">Description</label>
                                        <div class="col-sm-6">
                                            <textarea readonly class="form-control" asp-for="MyOffer.Description" rows="3">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a asp-action="Edit" asp-controller="Offer" asp-route-id="@Model.MyOffer.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-action="Delete" asp-controller="Offer" asp-route-id="@Model.MyOffer.Id" class="btn btn-outline-danger">Remove</a>
                        }
                    }
                    else
                    {
                        <p>Please log in to create a sale</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header text-white bg-primary" >Available Sales</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">User</td>
                                <td scope="col">Bells per <img style="width: 20px" src="~/img/icons/turnip.svg" /></td>
                                <td scope="col">Description</td>
                                <td scope="col">Dodo Code</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var offer in Model.AvailableOffers)
                            {
                                <tr>
                                    <td>
                                        @offer.User.UserName
                                    </td>
                                    <td>
                                        @offer.Price
                                    </td>
                                    <td>
                                        @offer.Description
                                    </td>
                                    <td>
                                        @offer.DodoCode
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                    @if (Model.HasPreviousPage)
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageNumber - 1)" class="btn btn-outline-primary">Previous</a>
                    }
                    else
                    {
                        <button class="btn btn-outline-primary" disabled>Previous</button>
                    }
                    @if (Model.HasNextPage)
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageNumber + 1)" class="btn btn-outline-primary">Next</a>
                    }
                    else
                    {
                        <button class="btn btn-outline-primary" disabled>Next</button>
                    }
                </div>
            </div>                    
        </div>
    </div>
</div>
